artifacts/
.packer.d/
packer_cache/
*.pkrvars.hcl
*.pkrvars.json
!*.example.pkrvars.hcl
*.tfstate*
*.tfplan
*.tfvars
*.tfvars.json
!*.example.tfvars
.terraform/
secrets/
*.zip
*.pem
*.pfx
*Onboarding*.py
*Onboarding*.json
*.log
.env*
!.env.example
